body {
    background-color: white;
    color: black;
}

li {
    float: right;
    list-style-type: none;
    margin-right: 2px;
}

footer {
    padding: 15;
    color: gray;
    background-color:white;
    text-align: center;

}